@import url('https://fonts.googleapis.com/css2?family=Anton&family=Black+Ops+One&family=Libre+Baskerville:wght@700&family=Pacifico&family=Public+Sans:wght@700&family=Roboto:wght@300&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: #202020;
}
header{
    display: flex;
    justify-content: center;
    font-family: 'Public Sans', sans-serif;
    padding: 8px;
    font-size: 30px;
    color: #ffffff;
    margin-bottom: 20px;
}
.main{
    display: flex;
    width: 160px;
    flex-wrap: wrap;
    align-items: center;
}
.card{
    width: 16px;
    height: 16px;
    background-color: black;
}
.red{
    background-color: white;
}
.btn{
    background-color: #ff007f;
    border: none;
    font-size: 12px;
    color: #ffffff;
    padding: 4px;
    border-radius: 2px;
    width: 150px;
    margin: 10px;
}
.box{
    display: flex;
    gap: 16px;
}
.content{
    width: 200px;
    margin-left: 8px;
}